[package]
name = "cargo-pgrx"
version = "0.8.2"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
license = "MIT"
description = "Cargo subcommand for 'pgrx' to make Postgres extension development easy"
homepage = "https://github.com/tcdi/pgrx"
repository = "https://github.com/tcdi/pgrx"
documentation = "https://docs.rs/cargo-pgrx"
categories = ["development-tools::cargo-plugins", "command-line-utilities", "database"]
keywords = ["database", "postgres", "postgresql", "extension"]
readme = "README.md"
exclude = [ "*.png" ]
edition = "2021"

[dependencies]
atty = "0.2.14"
cargo_metadata = "0.15.4"
cargo_toml = "0.15.2"
clap = { version = "4.2.5", features = [ "env", "suggestions", "cargo", "derive", "wrap_help" ] }
clap-cargo = { version = "0.10.0", features = [ "cargo_metadata" ] }
semver = "1.0.17"
owo-colors = { version = "3.5.0", features = [ "supports-colors" ] }
env_proxy = "0.4.1"
num_cpus = "1.15.0"
pgrx-pg-config = { path = "../pgrx-pg-config", version = "=0.8.2" }
pgrx-sql-entity-graph = { path = "../pgrx-sql-entity-graph", version = "=0.8.2" }
prettyplease = "0.1.25"
proc-macro2 = { version = "1.0.56", features = [ "span-locations" ] }
quote = "1.0.26"
rayon = "1.7.0"
regex = "1.8.1"
ureq = "2.6.2"
url = "2.3.1"
serde = { version = "1.0.160", features = [ "derive" ] }
serde_derive = "1.0.160"
serde-xml-rs = "0.6.0"
syn = { version = "1.0.109", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"
fork = "0.1.21"
libloading = "0.7.4"
object = "0.30.3"
once_cell = "1.17.1"
eyre = "0.6.8"
color-eyre = "0.6.2"
tracing = "0.1"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.17", features = [ "env-filter" ] }
flate2 = { version = "1.0.26", default-features = false, features = ["rust_backend"] }
tempfile = "3.5.0"
nix = { version = "0.26", default-features = false, features = ["user"] }

[features]
default = ["ureq/native-tls"]
rustls = ["ureq/tls"]
