[package]
name = "pgx"
version = "0.4.0-beta.0"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
license = "MIT"
description = "pgx:  A Rust framework for creating Postgres extensions"
homepage = "https://github.com/zombodb/pgx"
repository = "https://github.com/zombodb/pgx"
documentation = "https://docs.rs/pgx"
categories = ["database"]
keywords = ["database", "postgres", "postgresql", "extension"]
readme = "../README.md"
edition = "2021"

[lib]
crate-type = [ "rlib" ]

[features]
default = [ ]
pg10 = [ "pgx-pg-sys/pg10" ]
pg11 = [ "pgx-pg-sys/pg11" ]
pg12 = [ "pgx-pg-sys/pg12" ]
pg13 = [ "pgx-pg-sys/pg13" ]
pg14 = [ "pgx-pg-sys/pg14" ]

[package.metadata.docs.rs]
features = ["pg14"]
no-default-features = true
# Enable `#[cfg(docsrs)]` (https://docs.rs/about/builds#cross-compiling)
rustc-args = ["--cfg", "docsrs"]

[dependencies]
cstr_core = "0.2.5"
enum-primitive-derive = "0.2.2"
num-traits = "0.2.14"
seahash = "4.1.0"
pgx-macros = { path = "../pgx-macros/", version = "0.4.0-beta.0" }
pgx-pg-sys = { path = "../pgx-pg-sys", version = "0.4.0-beta.0" }
pgx-utils = { path = "../pgx-utils/", version = "0.4.0-beta.0" }
serde = { version = "1.0.136", features = [ "derive" ] }
serde_cbor = "0.11.2"
serde_json = "1.0.79"
time = { version = "0.3.7", features = ["formatting", "parsing", "alloc", "macros"] }
atomic-traits = "0.3.0"
heapless = "0.7.10"
hash32 = "0.2.1"
uuid = { version = "0.8.2", features = [ "v4" ] } 
once_cell = "1.10.0"
bitflags = "1.3.2"
eyre = "0.6.7"
tracing = "0.1.31"
tracing-error = "0.2.0"
quote = "1.0.15"
