[package]
name = "pgx"
version = "0.1.19"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "pgx:  A Rust framework for creating Postgres extensions"
homepage = "https://github.com/zombodb/pgx"
repository = "https://github.com/zombodb/pgx"
documentation = "https://docs.rs/pgx"
categories = ["database"]
keywords = ["database", "postgres", "postgresql", "extension"]
readme = "../README.md"

[lib]
crate-type = [ "rlib" ]

[features]
default = [ ]
pg10 = [ "pgx-pg-sys/pg10" ]
pg11 = [ "pgx-pg-sys/pg11" ]
pg12 = [ "pgx-pg-sys/pg12" ]
pg13 = [ "pgx-pg-sys/pg13" ]

[package.metadata.docs.rs]
features = ["pg13"]
no-default-features = true

[dependencies]
enum-primitive-derive = "0.2.1"
num-traits = "0.2.14"
seahash = "4.1.0"
pgx-macros = { path = "../pgx-macros/", version = "0.1.19" }
pgx-pg-sys = { path = "../pgx-pg-sys", version = "0.1.19" }
serde = { version = "1.0.123", features = [ "derive" ] }
serde_cbor = "0.11.1"
serde_json = "1.0.62"
time = "0.2.25"
atomic-traits = "0.2.0"
heapless = "=0.5.6"
hash32 = "0.1.1"
uuid = { version = "0.8.2", features = [ "v4" ] } 
once_cell = "1.5.2"
bitflags = "1.2.1"

