[package]
name = "pgx-macros"
version = "0.2.0-beta.2"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Proc Macros for 'pgx'"
homepage = "https://github.com/zombodb/pgx/pg-macros"
repository = "https://github.com/zombodb/pgx/pg-macros"
documentation = "https://docs.rs/pgx-macros"
readme = "README.md"

[lib]
proc-macro = true

[package.metadata.docs.rs]
# Enable `#[cfg(docsrs)]` (https://docs.rs/about/builds#cross-compiling)
rustc-args = ["--cfg", "docsrs"]

[dependencies]
pgx-utils = { path = "../pgx-utils", version = "0.2.0-beta.2" }
proc-macro2 = "1.0.30"
quote = "1.0.10"
syn = { version = "1.0.80", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"
proc-macro-crate = "1.1.0"

[dev-dependencies]
serde = { version = "1.0.130", features = ["derive"] }
