[package]
name = "pgx-macros"
version = "0.4.4"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
license = "MIT"
description = "Proc Macros for 'pgx'"
homepage = "https://github.com/zombodb/pgx"
repository = "https://github.com/zombodb/pgx"
documentation = "https://docs.rs/pgx-macros"
readme = "README.md"
edition = "2021"

[lib]
proc-macro = true

[package.metadata.docs.rs]
# Enable `#[cfg(docsrs)]` (https://docs.rs/about/builds#cross-compiling)
rustc-args = ["--cfg", "docsrs"]

[dependencies]
pgx-utils = { path = "../pgx-utils", version = "0.4.4" }
proc-macro2 = "1.0.37"
quote = "1.0.18"
syn = { version = "1.0.92", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"

[dev-dependencies]
serde = { version = "1.0.137", features = ["derive"] }
