[package]
name = "cargo-pgx"
version = "0.0.13"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "cargo subcommand for 'pgx' to make Postgres extension development easy"
homepage = "https://github.com/zombodb/pgx/cargo-pgx"
repository = "https://github.com/zombodb/pgx/cargo-pgx"
documentation = "https://docs.rs/cargo-pgx"
readme = "README.md"

[dependencies]
clap = { version = "2.33.3", features = [ "yaml" ] }
colored = "2.0.0"
env_proxy = "0.4.1"
num_cpus = "1.13.0"
pgx-utils = { path = "../pgx-utils", version = "^0.0.13"}
proc-macro2 = { version = "1.0.20", features = [ "span-locations" ] }
quote = "1.0.7"
rayon = "1.4.0"
regex = "1.3.9"
rttp_client = { version = "0.1.0", features = ["tls-native"] }
syn = { version = "1.0.40", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"
fork = "0.1.17"
