[package]
name = "cargo-pgx"
version = "0.2.5"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "cargo subcommand for 'pgx' to make Postgres extension development easy"
homepage = "https://github.com/zombodb/pgx/cargo-pgx"
repository = "https://github.com/zombodb/pgx/cargo-pgx"
documentation = "https://docs.rs/cargo-pgx"
categories = ["development-tools::cargo-plugins", "command-line-utilities", "database"]
keywords = ["database", "postgres", "postgresql", "extension"]
readme = "README.md"
exclude = [ "*.png" ]


[dependencies]
clap = { version = "2.34.0", features = [ "yaml" ] }
colored = "2.0.0"
env_proxy = "0.4.1"
num_cpus = "1.13.0"
pgx-utils = { path = "../pgx-utils", version = "0.2.5" }
proc-macro2 = { version = "1.0.33", features = [ "span-locations" ] }
quote = "1.0.10"
rayon = "1.5.1"
regex = "1.5.4"
rttp_client = { version = "0.1.0", features = ["tls-native"] }
syn = { version = "1.0.82", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"
fork = "0.1.18"
libloading = "0.7.2"
symbolic = "8.5.0"
