[package]
name = "cargo-pgx"
version = "0.4.0-beta.0"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
license = "MIT"
description = "Cargo subcommand for 'pgx' to make Postgres extension development easy"
homepage = "https://github.com/zombodb/pgx"
repository = "https://github.com/zombodb/pgx"
documentation = "https://docs.rs/cargo-pgx"
categories = ["development-tools::cargo-plugins", "command-line-utilities", "database"]
keywords = ["database", "postgres", "postgresql", "extension"]
readme = "README.md"
exclude = [ "*.png" ]
edition = "2021"

[dependencies]
atty = "0.2"
cargo_metadata = "0.14.2"
cargo_toml = "0.11.4"
clap = { version = "3.1.2", features = [ "env", "suggestions", "cargo", "derive" ] }
clap-cargo = { version = "0.8.0", features = [ "cargo_metadata" ] }
semver = "1.0.6"
owo-colors = { version = "3.2.0", features = [ "supports-colors" ] }
env_proxy = "0.4.1"
num_cpus = "1.13.1"
pgx-utils = { path = "../pgx-utils", version = "0.4.0-beta.0" }
proc-macro2 = { version = "1.0.36", features = [ "span-locations" ] }
quote = "1.0.15"
rayon = "1.5.1"
regex = "1.5.5"
rttp_client = { version = "0.1.0", features = ["tls-native"] }
syn = { version = "1.0.86", features = [ "extra-traits", "full", "fold", "parsing" ] }
unescape = "0.1.0"
fork = "0.1.18"
libloading = "0.7.3"
object = "0.28"
eyre = "0.6.7"
color-eyre = "0.6.1"
tracing = "0.1.31"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.9", features = [ "env-filter" ] }
