[package]
name = "pgx-pg-sys"
version = "0.2.0-beta.2"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Generated Rust bindings for Postgres internals, for use with 'pgx'"
homepage = "https://github.com/zombodb/pgx/pg-pg-sys"
repository = "https://github.com/zombodb/pgx/pg-pg-sys"
documentation = "https://docs.rs/pgx-pg-sys"
readme = "README.md"

[features]
default = [ ]
pg10 = [ ]
pg11 = [ ]
pg12 = [ ]
pg13 = [ ]
pg14 = [ ]

[package.metadata.docs.rs]
features = ["pg14"]
no-default-features = true
targets = ["x86_64-unknown-linux-gnu"]
# Enable `#[cfg(docsrs)]` (https://docs.rs/about/builds#cross-compiling)
rustc-args = ["--cfg", "docsrs"]

[dependencies]
memoffset = "0.6.4"
once_cell = "1.8.0"
pgx-macros = { path = "../pgx-macros/", version = "0.2.0-beta.2" }

[build-dependencies]
bindgen = "0.59.1"
build-deps = "0.1.4"
colored = "2.0.0"
num_cpus = "1.13.0"
pgx-utils = { path = "../pgx-utils/", version = "0.2.0-beta.0" }
proc-macro2 = "1.0.30"
quote = "1.0.10"
rayon = "1.5.1"
syn = { version = "1.0.80", features = [ "extra-traits", "full", "fold", "parsing" ] }
