[package]
name = "pgx-pg-sys"
version = "0.0.4"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Generated Rust bindings for Postgres internals, for use with 'pgx'"
homepage = "https://github.com/zombodb/pgx/pg-pg-sys"
repository = "https://github.com/zombodb/pgx/pg-pg-sys"
documentation = "https://docs.rs/pgx-pg-sys"
readme = "README.md"

[dependencies]
memoffset = "0.5.5"
pgx-macros = { path = "../pgx-macros/", version="0.0.3" }

[build-dependencies]
bindgen = "0.54.0"
build-deps = "0.1.4"
num_cpus = "1.13.0"
clang = "0.24.0"
proc-macro2 = "1.0.18"
quote = "1.0.7"
rayon = "1.3.1"
syn = { version = "1.0.34", features = [ "extra-traits", "full", "fold", "parsing" ] }

[features]
default = [ ]
pg10 = [ ]
pg11 = [ ]
pg12 = [ ]
