[package]
name = "pgx-pg-sys"
version = "0.1.21"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Generated Rust bindings for Postgres internals, for use with 'pgx'"
homepage = "https://github.com/zombodb/pgx/pg-pg-sys"
repository = "https://github.com/zombodb/pgx/pg-pg-sys"
documentation = "https://docs.rs/pgx-pg-sys"
readme = "README.md"

[features]
default = [ ]
pg10 = [ ]
pg11 = [ ]
pg12 = [ ]
pg13 = [ ]

[package.metadata.docs.rs]
features = ["pg13"]
no-default-features = true
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
memoffset = "0.6.3"
once_cell = "1.7.2"
pgx-macros = { path = "../pgx-macros/", version = "0.1.21"}

[build-dependencies]
bindgen = "0.58.1"
build-deps = "0.1.4"
colored = "2.0.0"
num_cpus = "1.13.0"
pgx-utils = { path = "../pgx-utils/", version = "0.1.21"}
proc-macro2 = "1.0.26"
quote = "1.0.9"
rayon = "1.5.0"
syn = { version = "1.0.72", features = [ "extra-traits", "full", "fold", "parsing" ] }
