[package]
name = "pgx-utils"
version = "0.1.11"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Utility functions for 'pgx'"
homepage = "https://github.com/zombodb/pgx/pg-utils"
repository = "https://github.com/zombodb/pgx/pg-utils"
documentation = "https://docs.rs/pgx-utils"
readme = "README.md"

[dependencies]
colored = "2.0.0"
dirs = "3.0.1"
proc-macro2 = "1.0.24"
quote = "1.0.8"
regex = "1.4.2"
serde = "1.0.118"
serde_derive = "1.0.118"
syn = { version = "1.0.58", features = [ "extra-traits", "full", "fold", "parsing" ] }
toml = "0.5.8"
unescape = "0.1.0"
url = "2.2.0"
