[package]
name = "pgx-utils"
version = "0.4.0-beta.0"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
license = "MIT"
description = "Utility functions for 'pgx'"
homepage = "https://github.com/zombodb/pgx"
repository = "https://github.com/zombodb/pgx"
documentation = "https://docs.rs/pgx-utils"
readme = "README.md"
edition = "2021"

[dependencies]
atty = "0.2"
owo-colors = "3.2.0"
convert_case = "0.5.0"
dirs = "4.0.0"
env_proxy = "0.4.1"
proc-macro2 = { version = "1.0.36", features = [ "span-locations" ] }
quote = "1.0.15"
regex = "1.5.5"
rttp_client = "0.1.0"
serde = { version = "1.0.136", features = [ "derive" ] }
serde_derive = "1.0.136"
serde-xml-rs = "0.5.1"
serde_json = "1.0.79"
syn = { version = "1.0.86", features = [ "extra-traits", "full", "fold", "parsing" ] }
syntect = { version = "4.6", default-features = false, features = ["default-fancy"]}
toml = "0.5.8"
unescape = "0.1.0"
url = "2.2.2"
eyre = "0.6.7"
tracing = "0.1.31"
tracing-error = "0.2.0"
tracing-subscriber = { version = "0.3.9", features = [ "env-filter" ] }
petgraph = "0.6.0"
prettyplease = "0.1.7"
